#!/bin/sh
GIT_WORK_TREE={{ git_deploy_setup_web_home }}{{ git_deploy_setup_web_folder }}/
export GIT_WORK_TREE
git checkout -f

# Set user and group ownership for all existing files and directories
chown -R {{ git_deploy_setup_web_user }}:{{ git_deploy_setup_web_group }} {{ git_deploy_setup_web_home }}

# Ensure directories are 2755 
# The 2 at the beginning makes the directory SGID (Set Group ID). 
# That means any files in the directory automatically will inherit the group of the folder, as opposed to the group of the user putting the file there.
# The group of this folder should already be set to the webserver's group - www-data
find {{ git_deploy_setup_web_home }}{{ git_deploy_setup_web_folder }} -type d -exec chmod -c 2755 {} \;
# Ensure files are 0644 - Making them 664 since the shared webserver runs under the group
find {{ git_deploy_setup_web_home }}{{ git_deploy_setup_web_folder }} -type f -exec chmod -c 0664 {} \;

